name: Manual Build and Push Multi-Arch Images

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'List of tags (comma-separated)'
        required: true
        default: ''

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        tag: ${{fromJson(github.event.inputs.tags)}}

    steps:
      - name: Checkout code for tag ${{ matrix.tag }}
        uses: actions/checkout@v3
        with:
          ref: ${{ matrix.tag }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Login to GitHub Container Registry
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build and push image using Git tag as Docker tag
      - name: Build and push image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ matrix.tag }}